/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
.app {
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  border-bottom-right-radius: 40%;
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.app form {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 40px;
  gap: 15px;
  position: relative;
}

.app form > div {
  display: flex;
  flex-direction: column;
  position: relative;
}

.app form > div label {
  color: #858585;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: bold;
}

.app form > div input {
  border: 1px solid #ddd;
  padding: 9px;
  border-radius: 5px;
  width: 100px;
  margin-top: 5px;
  font-weight: bold;
  transition: 0.3s;
}

.app form > div input:focus {
  border-color: #864cff !important;
}

.app form > div input::placeholder {
  color: #898989;
  font-size: 18px;
  font-weight: bold;
}

.app form > div p {
  color: red;
  font-size: 14px;
  margin: 0;
  position: absolute;
  bottom: -35px;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  display: none;
  width: 90px;
}

.app form i {
  position: absolute;
  bottom: -29px;
  right: -20px;
  background-color: #864cff;
  color: white;
  padding: 10px 13px;
  border-radius: 50%;
  font-size: 35px;
  cursor: pointer;
  transition: 0.3s;
}

.app form i:hover {
  background-color: black;
}

.app > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0;
  padding-bottom: 0;
}

.app > div > div {
  font-weight: bold;
  font-size: 60px;
  display: flex;
  gap: 10px;
  flex-direction: row;
}

.app > div > div span {
  color: #864cff;
  letter-spacing: 4px;
  margin-right: -10px;
}

@media (max-width: 767px) {
  .app > div > div {
    flex-direction: column;
  }
  .app {
    width: 280px;
    padding: 20px;
  }
  .app form {
    gap: 5px;
  }
  .app form > div input {
    width: 77px;
  }
  .app form > div input::placeholder {
    font-size: 15px;
  }
  .app > div > div {
    font-size: 44px;
  }
  .app form i {
    bottom: -26px;
    right: 50%;
    transform: translateX(50%);
    font-size: 25px;
  }
  .app > div {
    padding-top: 30px;
  }
}
